{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 19.150600697928425,
    "longitude": 72.94355392456056,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Regional",
    "time_zone": "Asia/Calcutta",
    "external_url": "http://hass.techitpro.cf",
    "internal_url": null,
    "currency": "INR",
    "country": "IN",
    "language": "en"
  }
}